/* Efecto de cielo estrellado */
@keyframes starsAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Efecto de neón parpadeante para el fondo */
@keyframes neonGlow {
  0% {
    background-color: #ff0080;
  }
  50% {
    background-color: #ff69b4;
  }
  100% {
    background-color: #ff0080;
  }
}

/* Fondo parallax (desplazamiento fijo) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('stars.jpg') repeat; /* Usando la imagen de estrellas */
  background-attachment: fixed;
  background-size: cover;
  animation: starsAnimation 30s linear infinite; /* Movimiento de las estrellas */
  animation-delay: 0s; /* Sin retraso */
}

/* Efecto de neón solo para el fondo */
body {
  animation: neonGlow 5s ease-in-out infinite; /* Efecto de neón en el fondo */
}

/* Animación para el contenido */
.content {
  background-color: #3c434d;
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  gap: 30px;
  width: fit-content;
  max-width: 700px;
  font-size: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: opacity 3s ease-out;
  transition-delay: 0.2s;
  position: relative;  /* Añadido para aplicar efectos de parallax */
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Efecto de parpadeo para la imagen */
.content img {
  width: auto;
  height: 500px;
  max-height: 400px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  animation: shine 2s ease-in-out 1s infinite; /* Efecto de brillo para la imagen */
}

/* Efecto de brillo */
@keyframes shine {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Animación para el texto */
.text {
  background-color: #3c434d;
  height: 80%;
  width: 80%;
  padding: 5px;
  filter: blur(0.7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* No tiene efecto de neón */
}

.text h2 {
  margin-bottom: 50px;
}

/* Segundo texto (sin neón) */
.secondtext {
  background-color: #3c434d;
  text-align: center;
  color: #e8dfce;
  filter: blur(0.7);
  /* No tiene efecto de neón */
}

.see-more-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #3c434d;
  background-color: #e8dfce;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.see-more-btn:hover {
  background-color: #d5d3c7;
}

/* Fondo con parpadeo de neón */
body {
  animation: neonGlow 5s ease-in-out infinite;
}

/* Fondo parpadeante para el menu */
.menu-container {
  animation: neonGlow 5s ease-in-out infinite;
}
