* {
  background-color: #1e2126;
  color: #e8dfce;
  margin: 0 px;
  padding: 0 px;
}

body h1 {
  font-family: black, Arial;
  text-align: center;
  font-size: 75 px;
  filter: blur (2 px);
  margin-top: 25 px;
}

body p {
  text-align: center;
  filter: blur (0.8 px);
  margin-top: 25 px;
}

.menu-container {
  position: absolute;
  top: 20 px;
  right: 20 px;
   z-index: 10;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 30 px;
  cursor: pointer;
}

.menu-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 40 px;
}

.menu-list li {
  border-bottom: 1 px solid #fff;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  padding: 10 px;
  display: block;
}

.menu-list li a:hover {
  background-color: #555;
}

.menu-toggle:checked + .menu-icon + .menu-list {
  display: block;
}
